.dashboard {
  background: #333;
  color: #fff;
  padding: 10px;
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
}
.dashboard > div {
  padding: 10px;
  border: 1px solid #111;
  border-radius: 5px;
}
.dashboard > div p:nth-child(2) {
  font-size: 30px;
}
